@import "../colors";

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .project {
    background-color: #fefefe;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;

    .project-header {
      width: 100%;

      .fa {
        color: #333;
      }

      a {
        text-decoration: none;
        color: #333;

        &:hover {
          text-decoration: underline;
        }
      }
    }


    .project-body {
      display: flex;
      flex-flow: row wrap;

      table {
        flex-grow: 1;
        font-size: 0.8em;
        width: 50% !important;
        padding: 0;
        margin: 0;
        background-color: $table-bg;

        td {
          color: #333;
          padding: 10px;
          text-align: center;
          border-collapse: collapse;

          &:last-child {
            border-right: 1px solid #333;
          }
        }
      }

      p {
        color: #333;
        text-align: left;
        font-weight: 200;
        font-size: 1.2em;
        flex-grow: 1;
        width: 45%;
        padding: 0 5px;
        margin: 4px;
        overflow-x: hidden;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .project {
    width: 100% !important;
    min-width: inherit !important;
  }
}

@media only screen and (max-width: 539px) {
  .projects .project {
    .project-body {
      table {
        width: 100% !important;
      }

      p {
        width: 100% !important;
        text-align: center;
        margin: 20px 0;
      }
    }
  }
}