/bootstrap/compiled.php
/public/img/*
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
update.log
.idea
.idehelper.php
.github_webhook_secret_key.php
/node_modules
Homestead.yaml
Homestead.json
.env
