html, body {
	margin: 0px;
	font-family: "Lato",sans-serif;
	width: 100%;
	background-color: #FF6347;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	font-size: 32px; 
	margin: 16px 0 0 0;
	color: #ccc;
}

.content {
	width: 100%;
	background-color: rgb(51, 51, 51);
	position: absolute;
	top: 10%;
	bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	height: 90%;
	padding: 20px;
}

