<% content_for :title do %>
  Home
<% end %>

<div class="content">
  <div class="row">
    <div class="large-6 columns">
      <div class="twitter-block">
        <h2>Luna Moonfang on Twitter</h2>
        <a class="twitter-timeline" href="https://twitter.com/Real_DuckThom" data-widget-id="513017249758593024">Loading timeline... <i class="fa fa-circle-o-notch fa-spin"></i></a>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="lastfm-block">
        <h2>Luna Moonfang on LastFM</h2>

        <div class="music-wrapper">
          <span id="currentOrRecent"><i class="fa fa-circle-o-notch fa-spin"></i></span><br/>
          <span id="track">Loading</span><br/>
          <span id="artist"></span><br/>
          <span id="album"></span>
          <div id="album-art"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :extra_js do %>
  <script>
    $(window).load(function() {
      getMusicData();

      setInterval(function() {
        getMusicData();
      }, 5000);
    });

    function getMusicData() {
      // Get the current track
      $.ajax({
        url: "https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=duckthom&api_key=4540282aa7e002408e12ad79f027d8b9&format=json&limit=1",
        dataType: "json",
        method: "GET",
        async: true,
        success: function (data) {
          var track = data.recenttracks.track[0];
          if (typeof track['@attr'] != "undefined") {
            // This code will be used if the user is currenly listening to something
            var prefix = "<div class='sp sp-wave'></div> &nbsp; Now playing";
          } else {
            // If the user is not listening to anything, show the latest track that they listened to
            var prefix = "<i class='fa fa-pause'></i> &nbsp; Recently played";
          }
          var trackName = track.name;
          var artistName = track.artist['#text'];
          var albumName = (track.album['#text'] != '' ? "[" + track.album['#text'] + "]" : "");
          var albumArt = track.image[3]['#text'];
          $("#currentOrRecent").html(prefix);
          if ($("#track").html() != trackName) {
            $("#track").html(trackName);
            $("#artist").html(artistName);
            $("#album").html(albumName);
            $("#album-art").css('background-image', "url(" + albumArt + ")");
          }
        },
        error: function (xhr, textStatus, errorThrown) {
          $("#track").html("Couldn\'t fetch the recent track. Reloading...");
        }
      });
    }
  </script>
<% end %>
