@import "colors";

.footer {
  text-align: center;
  background-color: $deep-purple-500;
  background-image: url('/assets/image/footer-bg.png');
  background-size: 80px;
  color: white;
  padding: 40px 0;

  a {
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .column-1 {
    padding: 0 15px;
  }
}
