@import "colors";
@import "mixins";

header {
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 450px;
  background: url("/assets/image/sky-night-space-trees.jpeg") center bottom no-repeat;
  background-size: cover;
}

.home-header {
  height: 90vh;
}

.sub-header {
  height: 70vh;

  .logo {
    display: none !important;
  }
}

.header-content {
  align-items: center;
  z-index: 5;
}

@media only screen and (min-width: 1000px) {
  .title {
    @include page-title;

    font-size: 80px;
    letter-spacing: 4px;
  }
}

@media only screen and (max-width: 999px) and (min-width: 600px) {
  .title {
    @include page-title;

    left: 0;
    right: 0;
    font-size: 60px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    padding-top: 70px;
  }
}

@media only screen and (max-width: 599px) {
  .title {
    @include page-title;

    left: 0;
    right: 0;
    font-size: 40px;
    letter-spacing: 1px;
  }
}

.logo {
  opacity: 1;
  transition: all 0.2s;

  &.hidden {
    img {
      opacity: 0;
      transition: all 0.2s;
    }
  }

  img {
    max-height: 300px;
    transition: all 0.2s;
  }
}