@import "mixins";

.container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 40px;
  width: 100%;
  margin: 0 auto;

  @for $i from 1 through 12 {
    & > .column-lg-#{$i},
    & > .column-md-#{$i},
    & > .column-sm-#{$i} {
      @include column($i);
    }
  }
}

.content-header {
  text-align: center;
}

.text-block {
  font-size: 1.2em;
}

.separator {
  height: 200px;
  z-index: -1;
}

.noscroll {
  overflow: hidden;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

hr {
  border: 1px solid rgba(255,255,255, 0.38);
  margin: 10px 0;
}

// Tablet and desktop
@media only screen and (min-width: 768px) {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{6/$i}em;
      font-weight: 300;
    }
  }

  .mobile-br {
    display: none !important;
  }
}

// Mobile only
@media only screen and (max-width: 767px) {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{5/$i}em;
      font-weight: 300;
    }
  }
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.hidden {
  display: none !important;
}

// LG Large screen
@media only screen and (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }

  .visible-lg {
    display: inherit !important;
  }
}

// MD Medium screen
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  @for $i from 1 through 12 {
    .container > .column-lg-#{$i} {
      width: 100% !important;
      padding: 0 !important;
    }
  }

  .hidden-md {
    display: none !important;
  }

  .visible-md {
    display: inherit !important;
  }

  pre {
    display: none;
  }
}

// SM Small screen
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container {
    @for $i from 1 through 12 {
      & > .column-md-#{$i} {
        width: 100% !important;
        padding: 0 !important;
      }
    }

    @for $i from 1 through 12 {
      & > .column-lg-#{$i} {
        width: 100% !important;
        padding: 0 !important;
      }
    }
  }


  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: inherit !important;
  }

  pre {
    display: none;
  }
}

// XS Extra Small screen
@media only screen and (max-width: 767px) {
  .container {
    padding: 10px;

    @for $i from 1 through 12 {
      & > .column-sm-#{$i} {
        width: 100% !important;
        padding: 0 !important;
      }
    }

    @for $i from 1 through 12 {
      & > .column-md-#{$i} {
        width: 100% !important;
        padding: 0 !important;
      }
    }

    @for $i from 1 through 12 {
      & > .column-lg-#{$i} {
        width: 100% !important;
        padding: 0 !important;
      }
    }
  }

  .separator {
    height: 100px;
  }

  .hidden-xs {
    display: none !important;
  }

  .visible-xs {
    display: inherit !important;
  }

  pre {
    display: none;
  }
}
