@import "colors";
@import "mixins";

.navbar {
  display: flex;
  background-color: $deep-purple-500;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 6;
  height: 70px;

  @include transition(all 150ms ease-out);

  &.top {
    background-color: transparent !important;

    @include transition(all 150ms ease-out);

    .navbar-links li {
      box-shadow: 0 0 0 0 white inset !important;

      &.active a {
        text-shadow: 0 0 10px white;
      }

      a {
        text-shadow: 0 0 0 white;

        @include transition(text-shadow 150ms ease-out);

        &:hover {
          text-shadow: 0 0 10px white;

          @include transition(text-shadow 150ms ease-out);
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      box-shadow: 0 0 0 0 white inset;

      @include transition(box-shadow 150ms ease-in);

      &.active {
        box-shadow: 0 -3px 0 0 $amber-500 inset;
      }

      &:hover {
        box-shadow: 0 -3px 0 0 white inset;

        @include transition(box-shadow 150ms ease-out);
      }
    }
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
  }

  .navbar-backdrop {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
  }

  .mobile-social-icons {
    display: none;
  }

  .navbar-links, .navbar-toggle, .navbar-social-icons {
    display: flex;
    flex-flow: row wrap;
  }

  .navbar-brand a {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding: 5px 20px;
    margin: 0 20px;

    &:hover {
      background-color: $deep-purple-300;
    }

    img {
      max-height: 60px;
    }
  }

  .navbar-links {
    .navbar-links-list {
      display: flex;
      flex-flow: row wrap;
    }

    a {
      padding: 23px;
    }
  }

  .navbar-social-icons {
    margin-left: auto;
    font-size: 30px;

    a {
      padding: 12px;
    }
  }

  .navbar-toggle {
    margin-left: auto;
    padding: 8px;

    .navbar-toggle-button {
      background-color: transparent;
      border: 2px solid white;
      border-radius: 3px;
      color: white;
      font-size: 25px;
      padding: 0 15px;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: $deep-purple-500;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar ul li {
    &:hover {
      border-bottom: none;
    }

    &.active {
      border-bottom: none;
      background-color: $deep-purple-700;
    }
  }

  .collapsed {
    left: 100vw !important;
    right: -100vw !important;

    transition: left 300ms ease-out, right 300ms ease-out;
    -moz-transition: left 300ms ease-out, right 300ms ease-out;
    -webkit-transition: left 300ms ease-out, right 300ms ease-out;
  }

  .navbar-links {
    top: 70px;
    left: 25vw;
    right: 0;
    bottom: 0;
    position: fixed;

    transition: left 300ms ease-out, right 300ms ease-out;
    -moz-transition: left 300ms ease-out, right 300ms ease-out;
    -webkit-transition: left 300ms ease-out, right 300ms ease-out;

    a {
      padding: 18px !important;

      &:hover {
        background-color: $deep-purple-300;
      }
    }

    .navbar-links-list {
      display: flex;
      flex-flow: row wrap;
      flex-direction: column !important;
      background-color: $deep-purple-500;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      & > li {
        border-top: 1px solid white;

        &:last-child {
          border: none;
          margin-top: auto;
        }
      }

      .mobile-social-icons {
        display: block;

        .mobile-social-icons-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          font-size: 30px;

          a {
            padding: 12px 20px !important;
          }
        }
      }
    }

    .navbar-social-icons {
      margin-left: auto;
      font-size: 30px;

      a {
        padding: 12px;
      }
    }
  }
}