@import "colors";

.navbar {
  background-color: $deep-purple-500;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9001;
  min-height: 69px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: $deep-purple-300;
    }
  }

  .mobile-social-icons {
    display: none;
  }

  .navbar-links, .navbar-toggle, .navbar-social-icons {
    display: flex;
    flex-flow: row wrap;
  }

  .navbar-brand a {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;

    img {
      max-height: 60px;
      padding: 3px 10px;
    }
  }

  .navbar-links {
    .navbar-links-list {
      display: flex;
      flex-flow: row wrap;
    }

    a {
      padding: 23px;
    }
  }

  .navbar-social-icons {
    margin-left: auto;
    font-size: 30px;

    a {
      padding: 12px;
    }
  }

  .navbar-toggle {
    margin-left: auto;
    padding: 8px;

    .navbar-toggle-button {
      background-color: transparent;
      border: 2px solid white;
      border-radius: 3px;
      color: white;
      font-size: 25px;
      padding: 10px 15px;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: $deep-purple-500;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .collapsed {
    background: rgba(0,0,0,0) !important;

    transition: background 300ms ease-out;
    -moz-transition: background 300ms ease-out;
    -webkit-transition: background 300ms ease-out;

    .navbar-links-list {
      left: 100vw !important;
      right: -100vw !important;

      transition: left 300ms ease-out, right 300ms ease-out;
      -moz-transition: left 300ms ease-out, right 300ms ease-out;
      -webkit-transition: left 300ms ease-out, right 300ms ease-out;
    }
  }

  .navbar-links {
    top: 69px;
    left: 0;
    right: 0;
    bottom: -100vh;
    background: rgba(0,0,0,0.5);
    position: absolute;

    transition: background 300ms ease-out;
    -moz-transition: background 300ms ease-out;
    -webkit-transition: background 300ms ease-out;

    .navbar-links-list {
      display: flex;
      flex-flow: row wrap;
      flex-direction: column !important;
      background-color: $deep-purple-500;
      position: absolute;
      top: 0;
      left: 25vw;
      right: 0;
      bottom: 0;

      transition: left 300ms ease-out, right 300ms ease-out;
      -moz-transition: left 300ms ease-out, right 300ms ease-out;
      -webkit-transition: left 300ms ease-out, right 300ms ease-out;

      & > li {
        border-top: 1px solid white;

        &:last-child {
          border: none;
          margin-top: auto;
        }
      }

      .mobile-social-icons {
        margin-bottom: 70px;
        display: block;

        .mobile-social-icons-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          font-size: 30px;

          a {
            padding: 15px 20px;
          }
        }
      }
    }

    .navbar-social-icons {
      margin-left: auto;
      font-size: 30px;

      a {
        padding: 12px;
      }
    }
  }
}