// Import font and icons
@import url("//fonts.googleapis.com/css?family=Titillium+Web:700,600,400,300,200,100");
@import url('//fonts.googleapis.com/css?family=Muli:300,400');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");

// Import local components
@import "colors";
@import "spinner";
@import "navbar";
@import "header";
@import "helpers";
@import "footer";
@import "alert";
@import "button";
@import "form";
@import "table";

// Import page specific styling
@import "pages/music";
@import "pages/projects";
@import "pages/social";

html, body {
  font-family: "Muli", sans-serif;
  max-width: 100%;
  background: $site-bg;
  font-weight: 300;
  margin: 0;
  padding: 0 !important;
  color: $grey-200;
  line-height: 1.15;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5,
.title {
  font-family: "Titillium Web", sans-serif;
}

table {
  width: 100%;

  a {
    color: white !important;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.content {
  position: relative;

  a {
    color: $grey-500;
  }

  & > .container {
    background-color: transparent;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
