// Import font and icons
@import url("//fonts.googleapis.com/css?family=Titillium+Web:700,600,400,300,200,100");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");

// Import local components
@import "colors";
@import "spinner";
@import "navbar";
@import "header";
@import "helpers";
@import "footer";

// Import page specific styling
@import "pages/music";

html, body {
  font-family: "Titillium Web", sans-serif !important;
  max-width: 100%;
  background: $site-bg;
  font-weight: 300;
  margin: 0;
  padding: 0 !important;
}

.separator {
  height: 200px;
  z-index: -1;
}

.content {
  position: relative;
  background-color: $grey-200;
  padding: 50px 0;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.hidden {
  display: none !important;
}

// LG Large screen
@media only screen and (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }

  .visible-lg {
    display: inherit !important;
  }
}

// MD Medium screen
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .hidden-md {
    display: none !important;
  }

  .visible-md {
    display: inherit !important;
  }
}

// SM Small screen
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: inherit !important;
  }
}

// XS Extra Small screen
@media only screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  .visible-xs {
    display: inherit !important;
  }
}
