<% content_for :title do %>
    About
<% end %>

<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="text-center">
        <h3>About me</h3>
      </div>

      <hr />

      <p>
        Hi! My name is Thomas Wiringa but on the interwebs my nickname is usually DuckThom or Luna Moonfang.<br />
        I'm <%= @age %> years old and live in The Netherlands. <br />
        Currently I am studying Software Engineering at Alfa College in Groningen.<br />
        <br />
        My favorite programming languages are PHP, HTML5, JS (jQuery) and CSS3 (LESS/SASS) but I can also code in Java<br />
        Currently I'm learning C# and Swift.<br />
        <br />
        I also play games quite a lot. <br />
        The games I've been playing the most lately are Rocket League and GTA V but I also play games like Hearthstone, Halo, DOTA 2 and Diablo.<br />
        <br />
        For as far as music goes, I am a huge fan of <a href="http://monstercat.com">Monstercat</a> and Muse.<br />
        My favorite radio station is <a href="http://3fm.nl" target="_blank">3FM</a> on the radio and <a href="https://twitch.tv/monstercat" target="_blank">Monstercat FM</a> on Twitch.<br />
        Electronic music is my favourite kind of music.<br />
        <br />
        Which brings me to the next point, YouTube. <br />
        I'm subscribed to a lot of channels but <a href="https://youtube.com/hatfilms" target="_blank">Hat Films</a>, <a href="https://youtube.com/yogscastsips" target="_blank">Sips</a> and <a href="https://youtube.com/yogscast" target="_blank">The Yogscast</a> are my favorites.
        Click <a href="/sublist">here</a> for a list of channels that I am subscribed to.<br />
        <br />
      </p>
    </div>
  </div>
</div>

<div class="content-separator"></div>

<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="text-center">
        <h3>Contact</h3>
      </div>

      <p id="contact">
        I prefer correspondation via Twitter but i'm also available via IRC and Google+.
      </p>

      <table class="table table-striped">
        <tbody>
        <tr>
          <td><strong>E-Mail</strong></td>
          <td><a href="mailto:contact@lunamoonfang.nl">contact<i class="fa fa-at"></i>lunamoonfang.nl</a></td>
        </tr>
        <tr>
          <td><strong>Twitter</strong></td>
          <td><a href="https://twitter.com/intent/tweet?text=@Real_DuckThom" target="_blank"><i class="fa fa-at"></i>Real_DuckThom</a></td>
        </tr>
        <tr>
          <td><strong>IRC</strong></td>
          <td>LW_Luna or Luna_Moonfang on the freenode network</td>
        </tr>
        <tr>
          <td><strong>Google+</strong></td>
          <td><a href="https://plus.google.com/+ThomasWiringa" target="_blank">+ThomasWiringa</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>