$blue-base: #2196F3;
$blue-light: #64B5F6;
$blue-dark: #1976D2;

$deep-purple-base: #673AB7;
$deep-purple-light: #9575CD;
$deep-purple-dark: #512DA8;

$blue-grey-base: #607D8B;
$blue-grey-ultra-light: #ECEFF1;
$blue-grey-light: #90A4AE;

$red-base: #F44336;
$red-light: #E57373;
$red-dark: #D32F2F;

$yellow-base: #FFEB3B;
$yellow-light: #FFF176;
$yellow-dark: #FBC02D;

$green-base: #4CAF50;
$green-light: #81C784;
$green-dark: #388E3C;